#once{margin-left: auto; margin-right: auto; width: 260px; border: 0.2cm dashed violet; background-color: #ffcf79;  border-radius: 10px; box-shadow: inset 0 0 16px blue;}
p{color: brown; text-decoration: underline grey;}
img{border: solid yellow .2cm; border-radius: 15px;}